.services{
  padding: 0.3rem 0.3rem;
  height: 90vh;
  margin-top: 7rem;
}
.awasome1{
  display: flex;
  flex-direction: column;
  position: relative;
}
.awasome1>:nth-child(1){
  color: black;
  font-size: 2.5rem;
  font-weight: bold;
}
.awasome1>:nth-child(2){
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
}
.awasome1>:nth-child(3){
  color: gray;
  font-size: 15px;
  margin-top: 1rem;
}

.s-btn{
  width: 11.5rem;
  height: 3.2rem;
  margin-top: 1.5rem;
}

.cards{
  position: relative;
}
.cards>*{
  position:absolute ;
}

@media screen and (max-width:400px) {
  .services{
    margin-top: 135px;
  }
  .s-btn{
    margin-left: 57px;
    width: 195px;
    height: 55px;
  }
  .cards{
    position: relative;
  }
  .cards>*{
    position:absolute ;
  }
  .awasome1>:nth-child(1){  
    font-size: 2.5rem;
    margin-left: 55px;
  }
  .awasome1>:nth-child(2){
    font-size: 3rem;
    margin-left: 60px;
  }
  .awasome1>:nth-child(3){
    text-align: center;
  }
}

