.project{
  padding: 0.3rem 0.3rem;
}
.awasome{
  display: flex;
  flex-direction: column;
  position: relative;
}
.awasome>:nth-child(1){
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
}
.awasome>:nth-child(2){
  color: gray;
  font-size: 15px;
  margin-top: 1rem;
}
.pro{
  padding-top: 50px;
  background-color:#cbf3fb;
}
.card-body > p{
  font-size: 15px;
  color: gray;
}
.p-btn{
  margin-top: -2px;
}

@media screen  and (max-width:400px){
  .awasome>:nth-child(1){
    color: orange;
    font-size: 3rem;
    font-weight: bold;
    margin-left: 65px;
  }
}
