.contact{
  margin-top: 60px;
  padding: 0.3rem 0.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 30px;
}
.contact>:nth-child(1){
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: bold;
}
.contact>:nth-child(2){
  color: orange;
  font-size: 2.5rem;
  font-weight: bold;
}
.c-btn{
  margin-bottom: 90px;
}
form{
  margin-top: 50px;
}

@media screen and (max-width:400px) {
  .contact{
    padding: 1.9rem 1.3rem;
    margin-top: 0px;
    padding-top: 30px;
  }
  form{
    margin-top: 50px;
  }
}
